
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
secrets.tfvars

# Ansible
*.secrets.yaml
rke2.yaml

# Kubernetes
**.secret.yaml
user-config-map.yaml

# Intellij
.idea

