#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 1
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          20s
    timeout server          20s
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# kubernetes api
#---------------------------------------------------------------------
frontend kubernetes-api
    bind *:{{ k3s_port }}
    mode tcp
    option tcplog
    default_backend kubernetes-api

backend kubernetes-api
    mode tcp
    option httpchk GET /healthz
    http-check expect status 200
    option ssl-hello-chk
    balance roundrobin
        {% for host in groups['k3s_master'] %}
        server {{ hostvars[host].name }} {{ host }}:{{ k3s_port }} check
        {% endfor %}
        {% for host in groups['k3s_master_join'] %}
        server {{ hostvars[host].name }} {{ host }}:{{ k3s_port }} check
        {% endfor %}

#---------------------------------------------------------------------
# http
#---------------------------------------------------------------------
frontend kubernetes-traefik
    bind *:80
    mode tcp
    # filter path prefix for letsencrypt HTTP-01 challenge
    use_backend kubernetes-traefik if { path_beg /.well-known/acme-challenge/ }
    # redirect http to https
    http-request redirect scheme https code 301 unless { ssl_fc }

backend kubernetes-traefik
    mode tcp
    http-check expect status 200
    balance roundrobin
    {% for host in groups['k3s_master'] %}
    server {{ hostvars[host].name }} {{ host }}:80 check
    {% endfor %}
    {% for host in groups['k3s_master_join'] %}
    server {{ hostvars[host].name }} {{ host }}:80 check
    {% endfor %}


#---------------------------------------------------------------------
# https
#---------------------------------------------------------------------
frontend kubernetes-traefik-secure
    bind *:443
    mode tcp
    default_backend kubernetes-traefik-secure

backend kubernetes-traefik-secure
    mode tcp
    http-check expect status 200
    option ssl-hello-chk
    balance roundrobin
    {% for host in groups['k3s_master'] %}
    server {{ hostvars[host].name }} {{ host }}:443 check
    {% endfor %}
    {% for host in groups['k3s_master_join'] %}
    server {{ hostvars[host].name }} {{ host }}:443 check
    {% endfor %}
